@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<FitnessCenterManagement.Models.Appointment>

<h2>Tüm Randevular</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Üye</th>
            <th>Hizmet</th>
            <th>Antrenör</th>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Onay</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>@a.User.Email</td>
                <td>@a.Service.Name</td>
                <td>@a.Trainer.FullName</td>
                <td>@a.Date.ToShortDateString()</td>
                <td>@a.Time</td>
                <td>
                    @if (a.IsApproved)
                    {
                        <span class="badge bg-success">Onaylandı</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Bekliyor</span>
                    }
                </td>
                <td>
                    @if (!a.IsApproved)
                    {
                        <a class="btn btn-success btn-sm" asp-action="Approve" asp-route-id="@a.Id">
                            Onayla
                        </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
