@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<FitnessCenterManagement.Models.Service>

@{
    ViewData["Title"] = "Hizmet Yönetimi";
}

<h2>Hizmet Yönetimi</h2>

<a class="btn btn-primary mb-3" asp-action="Create">Yeni Hizmet Ekle</a>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Açıklama</th>
            <th>Süre (dk)</th>
            <th>Fiyat</th>
            <th style="width:150px;">İşlemler</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.Name</td>
                <td>@s.Description</td>
                <td>@s.DurationMinutes</td>
                <td>@s.Price TL</td>
                <td>
                    <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="@s.Id">Düzenle</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@s.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
